$sidebar-bg: #ffffff;
$white-text: #FFFFFF;
$dark-text: #434A53;
$main-gray-color : #217cd7; 
$main-color : #1e90ff;
$gray: #cccccc80;
$light-gray: #f4f4f4;
$input-border: #d9d9d9;
$box-shadow-color: rgba(30, 144, 255, 0.2); 
/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetting default styling and setting font-family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}



/* Register form styling */
.register {
  background:  url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/trello-right.e6e102c7.svg),
  url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/trello-left.4f52d13c.svg);
  background-repeat: no-repeat,no-repeat;
  background-attachment: fixed,fixed;
  background-size: 369px,369px;
  background-position: left bottom, right bottom;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    width: 25rem;
    background: #fff;
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  &__form-title {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  &__input-group {
    margin-bottom: 25px;

    .form-floating {
      position: relative;
      margin-bottom: 1rem;
    }

    .register__form-group-input {
      height: 57px;
      border: 1px solid #DADAF2;
      border-radius: 5px;
      outline: none;
      background: #F8F8FB;
      font-size: 17px;
      padding: 0 20px;
      transition: 0.2s ease;
    }
  }

  &__submit-button {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: $main-color;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 28px;
    transition: 0.3s ease;

    &:hover {
      background: $main-gray-color;
    }
  }

  &__login {
    text-align: center;

    .register__login-link {
      color: $main-color;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// .form-floating > input:not(:focus):placeholder-shown + label {
//   background: #f8f8f8;
// }

.form-floating > input + label:after {
 background: #f8f8f8 !important;
}