.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 4rem;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.Row{
  height: 2rem;
  border: 1px solid #ccc;
}
.box-search {
  height: 4rem;
  line-height: 4rem;
  border-radius: 0.5rem;
}

.Box-Filter, .Box-Sort {
  width: 100%;
}

.filter, .sort {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 6rem;
  line-height: 4rem;
}

.filter p, .sort p {
  font-weight: bold;
  height: 4rem;
  line-height: 5rem;
}
