.edit-task-modal {
    .ant-modal-content {
      border-radius: 8px; 
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    }
  
    .ant-modal-header {
      // background-color: #f0f2f5; 
      border-bottom: 1px solid #e0e0e0;
      border-radius: 8px 8px 0 0; 
    }
  
    .ant-form-item {
      margin-bottom: 24px; 
  
      .ant-form-item-label {
        font-weight: bold; 
      }
  
      .ant-input {
        border-radius: 4px; 
        border: 1px solid #d9d9d9; 
        &:focus {
          border-color: #40a9ff; 
        }
      }
  
      .ant-picker {
        border-radius: 4px; 
        border: 1px solid #d9d9d9; 
      }
    }
  
    .edit-task-button {
      border-radius: 4px;
      background-color: #1890ff; 
      color: white; 
      &:hover {
        background-color: #40a9ff; 
      }
    }
  
    .ant-tag {
      cursor: default; 
    }
  }
  