.container__home {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  height: 100%;

  &__box1,
  &__box2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__box1 {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
  }

  &__box2 {
    width: 32%;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    padding: 20px;

    &__title {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: #333;
    }

    &__under {
      padding: 15px;
      background-color: #f4f4f4;
      border-radius: 8px;
      color: #004085;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      text-align: start;
      transition: background-color 0.3s ease;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        background-color: #e9e9e9;
      }
    }
  }
}
