.Modal {
    .ant-modal-content {
      border-radius: 8px; 
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }
  
    .infoUser {
      height: 4rem;
      display: flex; 
      align-items: center; 
      margin-bottom: 16px; 
      padding: 12px;
      background-color: #f9f9f9;
      border: 1px solid #e0e0e0; 
      border-radius: 8px; 
      transition: background-color 0.3s; 
      .avata {
        margin-right: 16px; 
      }
  
      .Infor {
        flex-grow: 1; 
        p {
          margin: 0;
          &:first-child {
            font-weight: bold;
            color: #333;
          }
          &:last-child {
            font-weight: 500;
            color: #333;
          }
        }
      }
      .role {
        .ant-tag {
          border-radius: 4px;
        }
      }
    }
    .suggestUser {
      height: 2rem !important;
    }
  }
  
  .user-suggestion-container {
    position: relative;
    width: 300px;
  }
  
  .find {
    position: relative;
  }
  .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    height: max-content;
    padding-bottom: 5px;
    z-index: 1;
    border-radius: 8px;
    margin-top: 5px;  

    &__user {
      display: flex;
      height: 50px;
      border: 1px solid #ccc;
      background-color: #fff;
      margin-top: 5px;
      border-radius: 8px;
      padding: 5px;
    }

    &__info {
      margin-left: 10px;
    }

    &__fullname {
      font-weight: 700;
      margin-bottom: 0px ;
    }

    &__add {
      align-self: center;
      margin-left: auto;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 5px ;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background-color: #EAEAEA;
        transition: all 0.5s ease;
      }
    }
  }
  
  .suggestUser {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestUser:hover {
    background-color: #f0f0f0;
  }
  
  .Infor {
    margin-left: 10px;
  }
  