.box_container{
    background-color: #0b1013;
}
.Outlet{
    margin: 24px 16px;
    min-height: calc(100vh - 112px);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.box_container {
    height: 100vh; 
    overflow: hidden; 
  }
  
  .home {
    display: flex;
    height: 100%;
  }
  
  .home__sider {
    height: 100%; 
  }
  
  .ActionBar {
    height: 60px; 
    margin-right: 20px;
    width: 100%;
    z-index: 1;
    background-color: #fff; 
  }
  
  .Outlet {
    height: calc(100vh - 60px); 
    overflow-y: auto; 
  }
  