
.box1,.box3{
  display: flex;
  justify-content: space-between;
}
.Container__firstBox {
  width: 70%; 
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  p{
    font-weight: bold;
  }
}


.Container {
  display: flex;
  justify-content: space-between;
  background-color: #fefefe;
  
}

.Container__secondBox {
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding:20px ;
  margin-left: 10px;
}
.box4{
  display: flex;
  .CreatTask{
    margin-right: 30px;
  }
}