.box1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.box2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.taskName {
  font-weight: bold;
  font-size: 1.4rem;
  .name {
    margin-left: 5px;
  }
}

.Description {
  width: 850px;
  padding: 10px;
  padding-top: 0;
  border-radius: 5px;
  height: max-content;
  overflow: auto;
  overflow-wrap: break-word;
  font-family: 'Poppins', sans-serif;
  white-space: normal;
  text-align: justify;
  font-weight: 300;
  color: #555;
}

.box3>p {
  font-weight: bold;
  margin: 5px 0;
}

.TimeStart {
  margin: 10px 0;
}

.Deadline {
  margin-bottom: 10px;
}

.Container__firstBox {
  width: 70%;
  max-width: 1000px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  flex-grow: 0; 
}

.Container {
  display: flex;
  justify-content: space-between;
  background-color: #fefefe;
  max-width: 1300px; 
}

.Container__secondBox {
  width: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-left: 10px;
}

.box4 {
  display: flex;
  .CreatTask {
    margin-right: 30px;
  }
}
